.title{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 24px;
    padding-left: 24px;
    background-color: #000000;
}

.name{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 24px;
    padding-left: 24px;
    background-color: #ee0c0c;
}